@import "../src/app/app.module.scss";


.container {
  width: 100vw;
  height: 100%;
  display: grid;
  background-color: $gray1;
  @include xl {
    grid-template-rows: 10% 20% 1fr 5%;
  }
  grid-template-rows: 10% 8% 1fr 20%;
}
