@import "../../../page.module.scss";

.containerLegal {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 0;
  width: 100%;
  height: 100%;
  font-size: x-small;
  
  small {
    margin-right: 1%;

    @include xl {

      margin-right: 1%;
    }
  }
}